@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=New+Amsterdam&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom,  #f9a53e,  #ff8d55);
    font-family: Arial, sans-serif;
    margin: 0;
}


#logo{    
    position: absolute;
width: 186px;
height: 174px;
left: calc(50% - 186px/2);
top: 109px;

}

#exercicios {
    appearance: none; 
    background-color: #ff8d55;
    border: 2px solid #ffa38c;
    color: white;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#exercicios:hover {
    background-color: #f9a53e;
}

#exercicios option {
    background-color: white;
    color: black;
    font-weight: normal;
}

button {
    background-color: #ff8d55;
    border: 2px solid #ffc0b9;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #ff6600;
}

.navbar{
    background:#f9a53e!important;
}

.offcanvas-body{
    background: linear-gradient(to bottom,  #f9a53e,  #ffb390)!important; 
}
.offcanvas-header{
    background:#f9a53e!important; 

}