body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom,  #f9a53e,  #ff8d55);
    font-family: Arial, sans-serif;
    margin: 0;
}