@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

/* @media  screen and (min-width: 390px) and (max-width: 844px){ */
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body{
        /* iPhone 13 / 13 Pro - 1 */
        
        position: relative;
        width: 430px;
        height: 932px;
        
        background: linear-gradient(180deg, #f87901 62.5%, #f5ae2b 100%);
        
    }
    
    #entrar{
        /* Rectangle 4 */
        
        position: relative;
        left: 17vh;
        right: 40%;
        top: 150vw;
        bottom: 15%;
        justify-content: center;
        width: 30vw;
        height: 5vh;
        
        background: rgba(255, 0, 0, 0.34);
        border-radius: 20px;
        border-color: rgba(0, 26, 255, 0);
        /* Entrar */


        font-family: 'Kavoon';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        text-align: center;

        color: #f8cca8;


        }

    #fsc{
        /* Rectangle 3 */
    
        position: absolute;
        left: 14vh;
        right: 30%;
        top: 190vw;
        bottom: 2%;
        width: 40vw;
        height: 10vh;
        
        background: rgba(255, 0, 0, 0.15);
        border-radius: 20px;
        border-color: rgba(0, 26, 255, 0);
        
        /* Faça o seu cadastro */
        
        font-family: 'Kavoon';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        justify-content: center;
        
        color: #f8cca8;
        
        
    }

#npl{
    /* Não possui login? */
    
    position: absolute;
    width: 33vh;
    left: 8vh;
    top: 175vw;

font-family: 'Kavoon';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
text-align: center;
justify-content: center;

color: #f8cca8;


}

#em{
    /* Email: */
    
    position: absolute;
    width: 16vh;
    height: 50vh;
    left: 16vh;
    top: 90vw;
    justify-content: center;
    
    font-family: 'Kavoon';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    
    color: #f8cca8;
    
    
}

#sn{
    /* Senha: */
    
    position: absolute;
    width: 10vw;
    height: 10vh;
    left: 20vh;
    top: 110vw;
    justify-content: center;
    
    font-family: 'Kavoon';
    font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: center;

color: #f8cca8;


}


#email{
    /* Rectangle 1 */
    
    box-sizing: border-box;
    
    position: absolute;
    width: 55vw;
    height: 3vh;
    left: calc(50% - 214px/2);
    top: 100vw;
    justify-content: center;
    
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 10px;
    
}

#password{
    /* Rectangle 2 */
    
    box-sizing: border-box;
    
    position: absolute;
    width: 55vw;
    height: 3vh;
    left: calc(50% - 214px/2);
    top: 120vw;
    justify-content: center;
    
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 10px;
    
}

#logo{
    /* Design sem nome (5) 1 */
    
    position: absolute;
width: 30vw;
height: 14vh;
left: 35%;
top: 35vw;

}

#title1{
    /* Seja bem vindo ao: */
    
    position: absolute;
    width: 30vh;
    height: 41px;
    left: calc(50% - 289px/2 - 0.5px);
    top: 10vw;
    
    font-family: 'Kavoon';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    
    color: #f8cca8;
    
}

#title2{
    /* RIVERMAP */
    
    position: absolute;
    width: 30vh;
    height: 41px;
    left: calc(50% - 273px/2 - 0.5px);
    top: 65vw;
    
    font-family: 'Kavoon';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    
    color: #f8cca8;
    
    
    }
/* } */

#funcao {
    appearance: none; 
    background-color: #ff7e00;
    border: 2px solid white;
    color: white;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    width: 50vw;
    height: 05vh;
    top: 50vh;
    height: 10vh;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}